@model IEnumerable<Events.web.Models.Course>
@{
    ViewBag.Title = "Courses";
}

<h2>Course List</h2>

@Html.ActionLink("Create Course", "CourseCreate", "TrainingStaff")

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Id</td>
            <td>@course.Name</td>
            <td>@course.CourseCategory.Name</td>
            <td>@course.Description</td>
        </tr>
    }
</table>